@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 28 61% 95%;
    --foreground: 28 5% 10%;
    --card: 28 50% 90%;
    --card-foreground: 28 5% 15%;
    --popover: 28 61% 95%;
    --popover-foreground: 28 95% 10%;
    --primary: 28 86% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 30% 78%;
    --secondary-foreground: 0 0% 0%;
    --muted: -10 30% 85%;
    --muted-foreground: 28 5% 40%;
    --accent: -10 30% 80%;
    --accent-foreground: 28 5% 15%;
    --destructive: 0 61% 50%;
    --destructive-foreground: 28 5% 90%;
    --border: 28 30% 78%;
    --input: 28 30% 50%;
    --ring: 28 86% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 28 50% 10%;
    --foreground: 28 5% 90%;
    --card: 28 50% 10%;
    --card-foreground: 28 5% 90%;
    --popover: 28 50% 5%;
    --popover-foreground: 28 5% 90%;
    --primary: 28 86% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -10 30% 25%;
    --muted-foreground: 28 5% 65%;
    --accent: -10 30% 25%;
    --accent-foreground: 28 5% 90%;
    --destructive: 0 61% 50%;
    --destructive-foreground: 28 5% 90%;
    --border: 28 30% 50%;
    --input: 28 30% 50%;
    --ring: 28 86% 47%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
