@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 28 61% 95%;
    --foreground: 28 5% 10%;
    --card: 28 50% 90%;
    --card-foreground: 28 5% 15%;
    --popover: 28 61% 95%;
    --popover-foreground: 28 95% 10%;
    --primary: 28 86% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 30% 78%;
    --secondary-foreground: 0 0% 0%;
    --muted: -10 30% 85%;
    --muted-foreground: 28 5% 40%;
    --accent: -10 30% 80%;
    --accent-foreground: 28 5% 15%;
    --destructive: 0 61% 50%;
    --destructive-foreground: 28 5% 90%;
    --border: 28 30% 78%;
    --input: 28 30% 50%;
    --ring: 28 86% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 28 50% 10%;
    --foreground: 28 5% 90%;
    --card: 28 50% 10%;
    --card-foreground: 28 5% 90%;
    --popover: 28 50% 5%;
    --popover-foreground: 28 5% 90%;
    --primary: 28 86% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -10 30% 25%;
    --muted-foreground: 28 5% 65%;
    --accent: -10 30% 25%;
    --accent-foreground: 28 5% 90%;
    --destructive: 0 61% 50%;
    --destructive-foreground: 28 5% 90%;
    --border: 28 30% 50%;
    --input: 28 30% 50%;
    --ring: 28 86% 47%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .tree-graph {
    font-size: 0.9rem;

    --main-line-color: #1ba1e2;
    --move-border-color: #1171a1;
    --dot-size: 10px;
    --line-height: 32px;
    --junction-width: 2px;
    --junction-length: 20px;
  }
  .piece {
    font-family: "FreeSerif", sans-serif;
    font-size: 1.3rem;
  }
  .dot {
    background-color: var(--main-line-color);
    margin-top: calc(var(--line-height) / 2 - var(--dot-size) / 2);
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    &:hover:not(.selected) {
      outline: 2px solid #eee;
      outline-offset: 3px;
      box-shadow: 0px 0px 10px 12px #1ba1e255;
    }
  }
  .dot.selected {
    outline: 2px solid #ffffff;
    outline-offset: 3px;
    box-shadow: 0px 0px 10px 12px #1ba1e277;
  }
  .junctions {
    @apply relative;
  }
  .junctions .line {
    background-color: var(--main-line-color);
    margin-top: calc(var(--line-height) / 2 - var(--junction-width) / 2);
    height: var(--junction-width);
    width: var(--junction-length);
  }
  .junctions .curve {
    position: absolute;
    margin-top: calc(var(--line-height) / 2 - var(--junction-width) / 2);
    top: 0;
    left: 0;
  }
  .moves {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .move {
    @apply rounded-md flex justify-center items-center;
    border: 2px solid var(--move-border-color);
    height: var(--line-height);
    width: 36px;

    &:hover:enabled {
      @apply bg-white text-cyan-950;
    }
  }
}
